<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="KECForm.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <appSettings configProtectionProvider="RsaProtectedConfigurationProvider">
        <EncryptedData Type="http://www.w3.org/2001/04/xmlenc#Element"
            xmlns="http://www.w3.org/2001/04/xmlenc#">
            <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#tripledes-cbc" />
            <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
                <EncryptedKey xmlns="http://www.w3.org/2001/04/xmlenc#">
                    <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#rsa-1_5" />
                    <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
                        <KeyName>Rsa Key</KeyName>
                    </KeyInfo>
                    <CipherData>
                        <CipherValue>nmuUEfaLOjQYZgGevowSs2vE980s9qsLGBugYt8xMOYq7qxS2xUC0FV6o9yhX1/IVQcv9eNg5fK0nw633/MDlDTfsq7m5ggyhYVTSol1nyEcuBMpc9+yvbioG7ThmcG4YrmpWzZs36IHXe1Mc+qHmW1wLDnisXAednhEidpYNRQCg54JxkQqfTiRFzPvpGTFT/31xgecH9tZIGSC+P8QSy2Lb2Tul4PunM9afelgiRsU44PAVaLV2dmGCfKx5AE5OAD/VHfgyG02jQMISJjEmaVWjYuOX/bIdXpKR40yfwD7ns1oBv0fyeGxZ/hfOgkhJFkwnsjsDodRb1T/2WXcsA==</CipherValue>
                    </CipherData>
                </EncryptedKey>
            </KeyInfo>
            <CipherData>
                <CipherValue>uTp++/IJv90aHHuQnrHew+r+QeEDqTK/9uC44DuVRy1bKUI1CMhJtRqhBFEJWJkJiuyKxjn2dEZGskL3sXYX2VhKbUPei7FO16Z7bja0WI3X1VTkw6xIUg==</CipherValue>
            </CipherData>
        </EncryptedData>
    </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
