<?xml version="1.0" encoding="utf-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->

  <configuration>
  <appSettings>
    <!--<add key="ldap" value="LDAP://kecrpg.com/DC=kecrpg,DC=com"/>-->
    <add key="ldap" value="LDAP://kecrpg.com/DC=kecrpg,DC=com"/>
    <!--<add key="_uid" value="powappadid"/>
    <add key="_pwd" value="powerrdid"/>-->
    <add key="_uid" value="kecrpg\panchaln"/>
    <add key="_pwd" value="N1l3shxp!000"/>
    <add key="FromEmailID" value="noreply@kecrpg.com"/>
   
    
    <!--<add key="_smsuri" value="http://www.myvaluefirst.com/smpp/sendsms"/>-->
    <add key="_smsuri" value="http://bhashsms.com/api/sendmsg.php"/>
    <add key="_smsid" value="lnthed"/>
    <add key="_smspwd" value="ltbhttp1"/>    
    <add key="smtp" value="smtp.kecrpg.com"/>
    <add key="spURL" value="https://rpgnet.sharepoint.com/sites/kecdigital/safety"/>
    <add key="spUser" value="appdev@kecrpg.com"/>
    <add key="spPWD" value="Did10n@c"/>
    <add key="docStore" value="docstore"/>
    
  </appSettings>

  <system.web>    
    <compilation debug="true" targetFramework="4.6.1" />
    <httpRuntime targetFramework="4.6.1" />
  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>

<system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
    </configuration>
